.loginbox {
  height: 500px;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}
.loginbox {
  margin: auto;
}

.logoimg {
  width: 400px;
  height: 300px;
  position: absolute;
  left: 22%;
  top: -10%;
  margin: auto;
  align-items: center;
}

.login_input_setting {
  width: 400px;
  height: 300px;
  position: absolute;
  left: 30%;
  top: 35%;
  margin: auto;
  align-items: center;
}
